<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baiiu.daily.app">


    <application
        android:name=".DailyApplication"
        android:allowBackup="false"
        android:label="@string/daily_app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">

        <activity android:name=".DailyTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>